OPENAI_API_KEY="YOUR_OPENAI_API_KEY"
DB_ENCRYPTION_KEY="YOUR_FERNET_ENCRYPTION_KEY" # Run `from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())` to generate a new key
NAVER_CLIENT_ID="YOUR_NAVER_CLIENT_ID"
NAVER_CLIENT_SECRET="YOUR_NAVER_CLIENT_SECRET"